'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'stata-exec'
      'submenu': [
           {
           'label': 'Run Dofiles', 'command': 'stata-exec:run-dofile'
           }
      ]
    ]
  }
]
